*, *::after, *::before{
    box-sizing: border-box;
    font-family: inherit;
}
body{
    margin: 0;
}


.screen{
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.road{
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100vw;
    background-color: grey;
    /* transform: rotateX(100deg); */
}

.stripes{
    position: relative;
    top: 50%;
    height: 5px;
    background-color: white;
    z-index: 10;
    /* width: 30px; */
}

.car-container{
    position: relative;
    bottom: 0%;
    animation: moveCar 10s infinite linear;
}

.car{
    position: absolute;
    width: 130px;
    /* height: 250px; */
    transform: scaleY(2);
    z-index: 15;
}
.wheel{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 40px;
    top: 45px;
    animation: spin 1s infinite linear;
}
.front-wheel{
    left: 85px;
}
.back-wheel{
    left: 8px;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes moveCar {
    0%{
        left: 0%;
    }

    50%{
        left: 50%;
    }

    100%{
        left: 105%;
    }
}
