*, *::after, *::before{
    box-sizing: border-box;
    font-family: inherit;
}
body{
    margin: 0;
}
img{
    width: 100%;
}


.screen{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.light{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.traffic-light{
    width: 10em;
    height: 15em;
    position: absolute;
    top: 40vh;
    left: min(600px, 60vw);
}


.road{
    position: absolute;
    bottom: 0;
    height: 30vh;
    width: 100vw;
    background-color: grey;
    /* transform: rotateX(100deg); */
}

.checkpoint{
    position: relative;
    transform: rotate(90deg);
    height: 5px;
    width: 31vh;
    left: min(550px, 50vw);
    background-color: white;
    z-index: 10;
}

.stripes{
    position: relative;
    top: 50%;
    height: 5px;
    background-color: white;
    z-index: 10;
    /* width: 30px; */
}

.car-container{
    position: relative;
    bottom: 0%;
    animation: moveCar 10s infinite linear;
}

.car{
    position: absolute;
    width: 130px;
    /* height: 250px; */
    transform: scaleY(2);
    z-index: 15;
}
/* .animation-play{
    animation-play-state: play;
} */
.animation-pause{
    animation-play-state: paused !important;
}

.wheel{
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 40px;
    top: 45px;
    animation: spin 1s infinite linear;
    z-index: 15;
}
.front-wheel{
    left: 85px;
}
.back-wheel{
    left: 8px;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes moveCar {
    0%{
        left: 0%;
    }

    50%{
        left: 50%;
    }

    100%{
        left: 105%;
    }
}
